body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}
.wrapper {
  
  background-color: paleturquoise;
  display: flex;
  height: 100vh;
}
.section1 {
  display:flex;
  flex: 1;
  
  background-color: #AA7C52;  
  justify-content: center;
  align-items: center;
}
.bg-images {
  width:500px;
  height:auto;
}

.section2 {
  background-color: whitesmoke;
  min-width: 550px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section2-blank {
  width:315px;
}
.logo {
  display:flex;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.075em;
  gap: 0.5em;
}
.logo > img {
  width: 30%;
}
.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap:0.25em; */
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;

  
}
.logo-name > .first {
  color: #38291B;
}
.logo-name > .second {
  color: #FFBA7B;
}
input[type=text], input[type=email] 
, input[type=password] {
  height: 55px;
  width: 100% ;
  margin-bottom: 20px;
  color:#38291B;
  border: 1px solid #aaa;
  border-radius: 27.5px;
  
  
  
  padding-left: 25px;
  padding-top: 17px;
  padding-bottom: 17px;
  box-sizing: border-box;
  outline: none;
}

.first-line {
  font-size: 24px;
  font-weight: bold;
  color:#38291B;
  margin-bottom: 10px;
  margin-top: 10px;
}
.second-line {
  gap: 5px;
}
.second-line, label.signup-label {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
  color:#38291B;

}
.signin-label {
  display: flex;
  justify-content: end;
  font-size: 14px;
}
.signin-label > span > a {
  text-decoration: none;
  color:#38291B;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.signin-label > span > a:hover{
  color:#FFBA7B;
  transition: 0.25s;
} 
.login {
  font-weight: bold;
  
}
.login > a {
  text-decoration: none;
  color: #38291B;
}
.second-line > .login > a:hover{
  color:#FFBA7B;
  transition: 0.25s;
}
.signup-btn{
  margin-top: 20px;
  text-align: center; 
}
.signin-btn{
  margin-top: 20px;
  text-align: center;
}
.password-container {
  display: block;
  position: relative;
  width: 100%;
 }
   
 .toggle-password-button {
  cursor: pointer;
 }
 .toggle-password-button img {
  position: absolute;
  right: 25px;
  top: 14px;
  width: 25px;
 }
 .hide {
  display: none;
 }
 .show {
  display: block;
 }
label.signup-label{
   gap: 10px;
}
label.signup-label:hover {
  cursor:pointer;
}

button {
  background-color: #AA7C52;
  color: #ffba7b;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  
  padding: 0 20px;
  width: 100%;
  height: 40px;

  box-shadow: 0px 8px 10px #38291B;
}
button:hover {
  background-color: #FFBA7B;
  color: #38291B;
  transition: 0.5s;
  cursor: pointer;
}

input::placeholder {
  font-family: 'Poppins' sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 21px;
}

.method-word {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px;
}
.signin-method-container {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.signin-method-container > img {
  width: 24px;
  height: 24px;
  border: 1px solid #38291B;
  border-radius: 6px;
  padding: 14px 35px;
}