/* * {
  font-family: verdana;
  box-sizing: border-box;
 } */
 .password-container {
  display: block;
  position: relative;
  width: 100%;
 }
 input[type=password] {
  padding: 0 20px;
  width: 100%;
 }
   
 .toggle-password-button {
  cursor: pointer;
 }
 .toggle-password-button img {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
 }
 .hide {
  display: none;
 }
 .show {
  display: block;
 }
 